<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>

    <link rel="stylesheet" th:href="@{/css/rest.css}">
    <link rel="stylesheet" th:href="@{/css/login/adminlogin.css}">
    <link rel="stylesheet" th:href="@{/js/plugin/layui/css/layui.css}">

</head>
<body>
 <div class="admin-login-wrap"  id="login">
    <div class="login-content">
        <h3>用户登录</h3>
    </div>

</div>
 <script th:src="@{/js/plugin/jquery-2.1.4.js}"></script>
 <script th:src="@{/js/plugin/layui/layui.js}"></script>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script th:src="@{/js/http/http.js}"></script>
 <script>

     $(function () {
         console.log($("#login"))

     })


 </script>

 <script>
 </script>
</body>
</html>