<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>

    <link rel="stylesheet" th:href="@{/css/rest.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <link rel="stylesheet" th:href="@{/css/element.css}">

</head>
<body>
 <div class="admin-login-wrap"  id="login">
    <div class="login-content">
        <h3>用户登录</h3>
            <el-button>默认按钮</el-button>
            <el-button type="primary">主要按钮</el-button>
            <el-button type="success">成功按钮</el-button>
            <el-button type="info">信息按钮</el-button>
            <el-button type="warning">警告按钮</el-button>
            <el-button type="danger">危险按钮</el-button>

        </div>

    </div>

</div>
 <script th:src="@{/js/plugin/vue.js}"></script>
 <script th:src="@{/js/plugin/element.js}"></script>

 <script>
 </script>
</body>
</html>